---
layout: default
---
<style>
	  table{
	    border-left:1px solid #000000;border-top:1px solid #000000;
	    width: 100%;
	    word-wrap:break-word; word-break:break-all;
	  }
	  table th{
	  text-align:center;
	  }
	  table th,td{
	    border-right:1px solid #000000;border-bottom:1px solid #000000;
	  }
</style>

<div class="post">
	<h1 class="post-title">{{ page.title }}

    </h1>
    <div class="post-info" style="font-size: 0.9em;">
      <span>Written by</span>
      {% if page.author %}
          {{ page.author }}
      {% else %}
          {{ site.author.name }}
      {% endif %}

      {% if page.date %}
        <span>on&nbsp;</span>
        <time datetime="{{ page.date }}">{{ page.date | date: '%Y-%m-%d %H:%M:%S' }}</time>
      {% endif %}
    </div>
  <div class="post-line"></div>

  {{ content }}

</div>


<div class="content" >
  <div style="width: 100%;float:left">您如果觉得有用，觉得写得还不错，可以一元赞赏作者。</div>
  <div >
    <div style="width: 15%;float:left">&nbsp;&nbsp;&nbsp;</div>
    <img src="/assets/images/pay/weixin.png" alt="微信捐赠图片" style="width: 26%;float:left"/>
  <div style="width: 20%;float:left">&nbsp;&nbsp;&nbsp;</div>
  <img src="/assets/images/pay/zhifubao.png" alt="支付宝捐赠图片" style="width: 24%; "/>
  </div>
  
</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>


